.navbar-container {
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
}

// .navbar-title {
//     font-size: 2.55rem;
//     font-weight: bold;
//     font-style: normal;
//     font-family:'Times New Roman', Times, serif;
//     color: rgb(255, 253, 253);
//     margin: 0;
//     flex-shrink: 0; /* prevents from shrinking */
//     white-space: nowrap; /* prevents from breaking into multiple lines */
// }

.logo-pic {
    width: 110px;
    height: auto;
    flex-shrink: 0; /* prevents from shrinking */
    white-space: nowrap; /* prevents from breaking into multiple lines */
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4rem;

    span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
    }
}

.navbar-links {
    width: 100%;
    display: flex;
    gap: 0.5rem; /* spacing between links */
    justify-content: center; /* centers the links in the available space */
    align-items: center;

    a {
        text-decoration: none;
        font-size: 2.2rem;
        font-weight: bold;
        color: white;
        font-family:'Times New Roman', Times, serif;
        border-radius: 6px;
        padding: 0.2rem 0.4rem;
        transition: 0.3s ease;
    }

    a:hover {
        background-color: rgb(255, 253, 253);
        color: rgba(66, 66, 66, 0.882);
    }
}


.greeting-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; /* pushes greeting to the right */
    flex-shrink: 0; /* prevents greeting from shrinking */
    white-space: nowrap; /* prevents greeting from breaking into multiple lines */
    gap: 0.5rem; /* spacing between profile picture and greeting text */
    padding: 5px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /*margin-bottom: 0.2rem;  spacing between picture and text */
}

.greeting-text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto; /* pushes greeting to the right */
    flex-shrink: 0; /* prevents greeting from shrinking */
    white-space: nowrap; /* prevents greeting from breaking into multiple lines */
}

.greeting-text {
    font-size: 1.45rem;
    font-weight: lighter;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 253, 253);
    margin: 0;
    padding: 0;
}

.greeting-text2 {
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 253, 253);
    margin: 0;
    padding: 0;
}

/* Search bar styles (flexible center piece)*/
.search-bar {
    /*flex: 1;  takes remaining space in the middle */
    display: flex;
    flex: 1 1 auto; /* allows it to grow and shrink */
    justify-content: center;
    margin: 0.5rem 0.2rem; /* spacing on left and right */
    min-width: 0; /* allows input to shrink properly */
}

.search-bar input {
    width: 100%;      /* fill available space */
    /* max-width: 400px; limit max width for better aesthetics */
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 0.45rem 0.5rem; /* better spacing inside input */
    /*box-sizing: border-box; includes padding in width */
}

.search-btn {
    border-radius: 6px;
    padding: 0.5rem;
    font-weight: normal;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.search-btn:hover {
    background-color: rgba(255, 253, 253, 0.932);
    color: rgba(66, 66, 66, 0.952);
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navbar-title {
        display: none;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0.3rem 0;


        a {
        text-decoration: none;
        font-size: 2.2rem;
        font-weight: bold;
        color: white;
        font-family:'Times New Roman', Times, serif;
        border-radius: 6px;
        padding: 0.2rem 0.4rem;
        transition: 0.3s ease;
    }

        a:hover {
        background-color: rgb(255, 253, 253);
        color: rgba(66, 66, 66, 0.882);
    }
        &.open {
            display: flex;
        }
    }

    .navbar-content {
        flex-wrap: wrap;
    }

    .greeting-content {
        margin-right: auto;
    }
}

