.navbar-container {
    width: 100%;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 253, 253);
    margin: 0;
    flex-shrink: 0; /* prevents title from shrinking */
    white-space: nowrap; /* prevents title from breaking into multiple lines */
}

/* Search bar styles (flexible center piece)*/
.search-bar {
    /*flex: 1;  takes remaining space in the middle */
    display: flex;
    flex: 1 1 auto; /* allows it to grow and shrink */
    justify-content: center;
    margin: 0 1rem; /* spacing on left and right */
    min-width: 0; /* allows input to shrink properly */
}

.search-bar input {
    width: 100%;      /* fill available space */
    /* max-width: 400px; limit max width for better aesthetics */
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 0.3rem 0.5rem; /* better spacing inside input */
    /*box-sizing: border-box; includes padding in width */
}

.greeting-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto; /* pushes greeting to the right */
    flex-shrink: 0; /* prevents greeting from shrinking */
    white-space: nowrap; /* prevents greeting from breaking into multiple lines */
}

.greeting-text {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 253, 253);
    margin: 0;
    padding: 0;
}

.greeting-text2 {
    font-size: 1.35rem;
    font-weight: normal;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 253, 253);
    margin: 0;
    padding: 0;
}
