.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgba(255, 255, 0, 1));


    .img-container {
    width: 100%;
    height: 100%;

    .preview-pic {
        width: 100%;
        height: 80%;
        /*object-fit: cover;*/
        opacity: 1;
        /*filter: blur(1.3px);*/
        border-radius: 6px;
    }
}


    .form-container {
        display: flex;
        flex-direction: column;
        /*background-color: rgb(36, 36, 36);
        background: linear-gradient(to bottom, rgb(255, 0, 0), rgba(255, 255, 0, 1));*/
        padding: 0rem 1rem;
        padding-bottom: 27px;
        border-radius: 6px;
        width: 20%;
        height: 100%;


        .form-title {
            color: rgba(255, 255, 255, 0.963);
            text-align: center; 
            font-family: 'Manrope', sans-serif;
            font-size: 22px;
            font-weight: bold;
            padding: 1rem 0;
        }

        .email-input, .password-input {
            display: flex;
            flex-direction: column;
            padding: 10px;
            height: 28px;
            border-radius: 3px;
            border: none;
            width: 75%;
            margin-bottom: 10px;
            background-color: rgba(255, 255, 255, 0.931);
            justify-self: center;
        }
        
        .email-input::placeholder {
            color: rgb(35, 35, 35);
            font-family: 'Manrope', sans-serif;
            font-size: 12px;
        }

        .password-input::placeholder {
            color: rgb(35, 35, 35);
            font-family: 'Manrope', sans-serif;
            font-size: 12px;
        }

        .btn {
            width: 75%;
            height: 28px;
            border-radius: 3px;
            background-color: rgb(34, 34, 197);
            color: white;
            border: none;
            cursor: pointer;
            font-family: 'Manrope', sans-serif;
            font-size: 15px;
            font-weight: normal;
            justify-self: center;
            display: block;
        }

        .btn:hover {
            background-color: rgb(79, 79, 239);
        }
    }

     .line {
        align-items: center;
        justify-content: center;
        display: flex;
        color: gray;
        font-family: 'Manrope', sans-serif;
        font-size: 15px;
        padding-top: 10px;
        font-weight: bold;
    }

    .link-login {
        color: rgb(34, 34, 197);
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        font-size: 15px;
        cursor: pointer;
        padding-top: 5px;
        align-self: center;
    

        &:hover {
            text-underline-position: under;
            text-decoration: underline;
            color: rgb(79, 79, 239);
        }
    }
}