.register-container {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 80%;
    height: 650px;
    margin-top: 20px;
    border-radius: 10px;


    .img-container {
    width: 76%;
    height: 100%;

    .preview-pic {
        width: 100%;
        height: 97%;
        margin-top: 10px;
        /*object-fit: cover;*/
        opacity: 1;
        filter: blur(0.8px);
        border-radius: 6px;
    }
}


    .form-container {
        display: flex;
        flex-direction: column;
        background-color: rgba(36, 36, 36, 0.27);
        /*background: linear-gradient(to bottom, rgb(255, 0, 0), rgba(255, 255, 0, 1));*/
        padding: 0rem 0.8rem;
        padding-bottom: 27px;
        border-radius: 8px;
        width: 23%;
        height: 98%;


        .form-title {
            color: rgba(255, 255, 255, 0.963);
            text-align: center; 
            font-family: 'Manrope', sans-serif;
            font-size: 35px;
            font-weight: bold;
            padding: 2rem 0;
        }

        .email-input, .password-input {
            display: flex;
            font-size: 18px;
            font-weight: normal;
            flex-direction: column;
            padding: 25px;
            height: 45px;
            border-radius: 3px;
            border: none;
            width: 85%;
            margin-bottom: 13px;
            background-color: rgba(255, 255, 255, 0.931);
            justify-self: center;
        }
        
        .email-input::placeholder {
            color: rgb(35, 35, 35);
            font-family: 'Manrope', sans-serif;
            font-size: 15px;
        }

        .password-input::placeholder {
            color: rgb(35, 35, 35);
            font-family: 'Manrope', sans-serif;
            font-size: 15px;
        }

        .btn {
            width: 85%;
            height: 45px;
            border-radius: 3px;
            background-color: rgb(34, 34, 197);
            color: white;
            border: none;
            cursor: pointer;
            font-family: 'Manrope', sans-serif;
            font-size: 23px;
            font-weight: normal;
            justify-self: center;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 25px;
            margin-top: 25px;
        }

        .btn:hover {
            background-color: rgb(79, 79, 239);
        }
    }

     .line {
        align-items: center;
        justify-content: center;
        display: flex;
        color: rgb(92, 92, 92);
        font-family: 'Manrope', sans-serif;
        font-size: 23px;
        padding-top: 10px;
        font-weight: bold;
    }

    .link-login {
        color: rgb(34, 34, 197);
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        font-size: 21px;
        cursor: pointer;
        padding-top: 5px;
        align-self: center;
    

        &:hover {
            text-underline-position: under;
            text-decoration: underline;
            color: rgb(79, 79, 239);
        }
    }
}