.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38vh;
    .form-container {
        display: flex;
        flex-direction: column;
        background-color: rgb(36, 36, 36);
        padding: 0rem 1rem;
        padding-bottom: 15px;
        border-radius: 6px;


        .form-title {
            color: rgba(255, 255, 255, 0.963);
            text-align: center; 
            font-family: 'Manrope', sans-serif;
            font-size: 22px;
            font-weight: bold;
            padding: 1rem 0;
        }

        .email-input, .password-input {
            display: flex;
            flex-direction: column;
            padding: 10px;
            height: 28px;
            border-radius: 3px;
            border: none;
            width: 100%;
            margin-bottom: 10px;
            background-color: rgba(255, 255, 255, 0.931);
        }
        
        .email-input::placeholder {
            color: rgb(35, 35, 35);
            font-family: 'Manrope', sans-serif;
            font-size: 12px;
        }

        .password-input::placeholder {
            color: rgb(35, 35, 35);
            font-family: 'Manrope', sans-serif;
            font-size: 12px;
        }

        .btn {
            width: 100%;
            height: 28px;
            border-radius: 3px;
            background-color: rgb(34, 34, 197);
            color: white;
            border: none;
            cursor: pointer;
            font-family: 'Manrope', sans-serif;
            font-size: 15px;
            font-weight: bold;
        }

        .btn:hover {
            background-color: rgb(79, 79, 239);
        }
    }

    .line {
        align-items: center;
        justify-content: center;
        display: flex;
        color: gray;
        font-family: 'Manrope', sans-serif;
        font-size: 15px;
        padding-top: 10px;
        font-weight: bold;
    }

    .link-login {
        color: rgb(34, 34, 197);
        text-decoration: none;
        align-items: center;
        font-family: 'Manrope', sans-serif;
        font-size: 15px;
        cursor: pointer;
        padding-top: 5px;
    

        &:hover {
            text-underline-position: under;
            text-decoration: underline;
            color: rgb(79, 79, 239);
        }
}
}